h1 {
	font-size: 290%;
	margin-bottom: 50px;
}

div.left {
	display: block;
	margin-left: 60px;
}


article aside {
	background-color: #ff6000;
	width: 60px;
	height: 55px;
	margin-right: 10px;
	-webkit-border-radius: 10px;
	-webkit-transition: height .1s ease-in-out 0s;
	color: #ffffff;
	font-family: "Belizio Medium";
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

article aside:hover {
	height: 80px;
	-webkit-transition: height .6s ease-in-out 0s;
	
}

article aside:hover div.rest {
	color: #ffffff;
	-webkit-transition: color .1s ease-in-out .5s;
}

article aside div.day {
	font-size: 250%;
	margin-bottom: 4px;
}

article aside div.rest {
	font-size: 80%;
	text-transform: uppercase;
	color: #333;
}

h1 {
	margin-left: 60px;
}

article div.content {
	margin-left: 130px;
	max-width: 600px;
}

section#findme {
	margin-left: 60px;
}
