@font-face {
  font-family: fontello;
  src: url(../font/fontello.eot?85975900);
  src: url(../font/fontello.eot?85975900#iefix) format('embedded-opentype'),url(../font/fontello.woff2?85975900) format('woff2'),url(../font/fontello.woff?85975900) format('woff'),url(../font/fontello.ttf?85975900) format('truetype'),url(../font/fontello.svg?85975900#fontello) format('svg');
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: '\e802';
}

.icon-github:before {
  content: '\f09b';
}

.icon-down:before {
  content: '\f103';
}

.icon-linkedin:before {
  content: '\f318';
}

[class*=" icon-"]:before {
  margin-left: 0;
  margin-right: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

header {
  width: 100%;
  position: relative;
  min-height: 100%;
  background-color: #000;
  background-image: url(../img/1-full.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  z-index: 1;
}

header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: " ";
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.65)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,.65)100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,.65)100%);
  z-index: -1;
}

.counter {
  margin-top: auto;
  visibility: hidden;
}

.first {
  margin-top: auto;
}

.last {
  margin-bottom: auto;
}

@media only screen and (max-width:828px) {
  header {
    background-image: url(../img/1-mobile.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) and (max-width:828px) {
  header {
    background-image: url(../img/1-mobile@2x.jpg);
  }
}

.arrow {
  width: 100%;
  text-align: center;
}

.arrow button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
  color: #fff;
  font-size: 28px;
}

.introduction-text {
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
}

.introduction-text strong {
  font-weight: 400;
}

.job-text {
  font-size: 1.75em;
  color: #F6DB39;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}

.icon {
  font-size: 48px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.4);
  padding: 20px;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

@media (max-width:720px) {
  .introduction-text {
    padding: 0 20px;
  }
}

@media (max-width:375px) {
  header {
    font-size: 12px;
  }

  .nav .icon {
    font-size: 32px;
    padding: 10px;
  }
}
